<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <% if (locals.user) {%>
    <h1>WELCOME BACK <%= user.username %></h1>
    <a href="/logout">LOG OUT</a>
  <% } else { %>
    <h1>please log in</h1>
    <a href="/login">Login</a>
  <%}%>
  
</body>
</html>
